name: Build PR
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build & test
        run: ./mvnw install

      - name: Upload Maven artifacts
        uses: actions/upload-artifact@v5
        with:
          name: maven-target
          path: |
            target/
            src/main/docker/Dockerfile.jvm
  

  publish-docker-image:
    needs: build-and-test
    if: github.actor != 'renovate' && github.actor != 'renovate[bot]'
    permissions:
      pull-requests: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Maven artifacts
        uses: actions/download-artifact@v5
        with:
          name: maven-target

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: src/main/docker/Dockerfile.jvm
          context: .
          push: true
          tags: |
            ttl.sh/lagit-musit-bot-pr-${{ github.event.number }}:7d
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Comment PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: pr-release
          recreate: true
          message: |
            #### :rocket: A new Docker image has been built for this PR!
            
            The Docker image for this PR is ready @ `ttl.sh/lagit-musit-bot-pr-${{ github.event.number }}:7d`.
            It will expire in 7 days but can be recreated by updating the PR or re-running the build-and-publish workflow.
            Use it to easily test the changes in this commit.
            
            > [!TIP]
            > You can pull it with `docker pull ttl.sh/lagit-musit-bot-pr-${{ github.event.number }}:7d`