name: Build PR
on:
  pull_request:
    branches:
      - master

jobs:
  build-and-publish:
    permissions:
      pull-requests: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build project & run tests
        run: ./mvnw install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: src/main/docker/Dockerfile.jvm
          context: .
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.APP_NAME }}:pr-${{ github.event.number }}

      - name: Comment PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: pr-release
          recreate: true
          message: |
            #### :rocket: A new Docker image has been built for this PR!
            
            The Docker image for this PR is ready with tag [pr-${{ github.event.number }}](https://hub.docker.com/repository/docker/${{ vars.DOCKERHUB_USERNAME }}/${{ vars.APP_NAME }}/tags/pr-${{ github.event.number }})
            Use it to easily test the changes in this commit.
            
            > [!TIP]
            > You can pull it with `docker pull ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.APP_NAME }}:pr-${{ github.event.number }}`