name: Build And Deploy
on:
  push:
    branches:
      - master

jobs:
  deploy:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Node (needed by semantic-release)
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Set up java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build Java project & run tests
        run: ./mvnw install

      - name: Run semantic-release
        id: semantic
        uses: codfish/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: src/main/docker/Dockerfile.jvm
          context: .
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.APP_NAME }}:latest
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.APP_NAME }}:${{ steps.semantic.outputs.release-version }}
